<!DOCTYPE html>
<html>
<head>
  <title>OnePageLayout</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<header>
		<nav>
			<a href="#featured"> Wisdom <span class="subhead"> Pet Medicine </span></a>
			<ul>
				<li><a href="#featured">Home</a></li>
        <li><a href="#Mission">Mission</a></li>
        <li><a href="#Services">Services</a></li>
        <li><a href="#Staff">Staff</a></li>
        <li><a href="#Testimonials">Testimonials</a></li>
			</ul>
		</nav>
<div class="carousel">
  <%= image_tag("carousel-lifestyle.jpg", :alt => "Lifestyle", :class => "img") %>
  <%= image_tag("carousel-mission.jpg", :alt => "Mission", :class => "img") %>
  <%= image_tag("carousel-vaccinations.jpg", :alt => "Vaccinations", :class => "img")%> 
  <%= image_tag("carousel-fish.jpg", :alt => "Fish", :class => "img")%> 
  <%= image_tag("carousel-exoticanimals.jpg", :alt => "Exotic Animals", :class => "img")%>  
</div>
  </header>
<div class="main">
  <div class="page" id="mission">
    <div class="content container">
      <h2>Our Mission</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo beatae facilis, dolore nemo ut consequuntur! Dignissimos dolor voluptas eius, facilis nostrum illo veniam quam exercitationem cumque. Repellendus deleniti vero praesentium Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id repellendus consequatur temporibus hic minima, explicabo quam expedita! Voluptatem quae amet eveniet quia, sunt, sint incidunt explicabo voluptates, cupiditate temporibus perferendis?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, asperiores, numquam. Natus quaerat tempora officia veniam quo. Temporibus est enim eos quas, error, aperiam ad cum incidunt, voluptatibus voluptate similique. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt consequuntur esse quae suscipit alias, fuga temporibus at veritatis nihil, maiores? Quasi odio rerum id qui assumenda, exercitationem accusantium omnis unde!</p>
    </div>
  </div>    <!-- MISSION PAGE -->

 

  <div class="page" id="services">
    <div class="content container">
      <h2>Services</h2>
        <div class="row">
          <article class="service col-sm-4">
              <%=image_tag("icon-exoticpets.svg", :alt => "Icon", :class => "svg")%>
              <h3>Exotic Pets</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic dolorum, cumque, esse quis ipsa soluta, ipsum ullam tempore obcaecati magni ad itaque quaerat corrupti! Voluptates unde dolor laudantium.</p>
          </article>

          <article class="service col-sm-4">
            <%=image_tag("icon-grooming.svg", :alt => "Icon", :class => "svg")%>
            <h3>Grooming</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate fuga, dolor cupiditate mollitia, laborum cum illum cumque ullam. A quibusdam ut commodi exercitationem cupiditate repellat, excepturi quidem atque. Iusto, quaerat!</p>
          </article>

          <article class="service col-sm-4">
            <%=image_tag("icon-health.svg", :alt => "Icon", :class => "svg")%>
            <h3>General Health</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quo maiores vero earum officiis, corrupti sapiente aspernatur, vitae magnam nesciunt commodi sint similique error ea labore, neque accusamus, excepturi ducimus.</p>
          </article>

          <article class="service col-sm-4">
            <%=image_tag("icon-nutrition.svg", :alt => "Icon", :class => "svg")%>
            <h3>Nutrition</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo commodi facilis reprehenderit! Iure ad dolores sint, ipsum neque hic rem laboriosam accusantium voluptatum obcaecati eum, ratione nulla.</p>
          </article>

          <article class="service col-sm-4">
            <%=image_tag("icon-pestcontrol.svg", :alt => "Icon", :class => "svg")%>
            <h3>Pest Control</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab molestias laudantium vel fugit. Reprehenderit, omnis, earum. Consequatur saepe necessitatibus, amet explicabo aspernatur ea beatae, harum aliquam autem neque nulla adipisci.</p>
          </article> 

          <article class="service col-sm-4">
            <%=image_tag("icon-vaccinations.svg", :alt => "Icon", :class => "svg")%>
            <h3>Vaccinations</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab molestias laudantium vel fugit. Reprehenderit, omnis, earum. Consequatur saepe necessitatibus, amet explicabo aspernatur ea beatae, harum aliquam autem neque nulla adipisci.</p>
          </article> 

      </div> <!-- row -->
    </div><!-- service container -->
  </div>  <!-- services end -->


  <div class="page" id="staff">
    <h2 id="ourstaff"> Our Staff</h2>
      <div class="doctor">
        <%=image_tag("doctor-winthrop.jpg", :alt => "Photo of Doctor Winthrop", :class => "circle")%>
        <h3>Dr. Winthrop</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis corporis pariatur fugiat eaque, reiciendis praesentium, debitis explicabo labore illum nam delectus nemo minima optio aliquam hic illo officia dolorem possimus.</p>
      </div>

      <div class="doctor">
        <%=image_tag("doctor-chase.jpg", :alt => "Photo of Doctor Winthrop", :class => "circle")%>
        <h3>Dr. Chase</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, distinctio, consequuntur. Culpa architecto quo, cum odio omnis consequatur tenetur alias cupiditate porro, consectetur expedita praesentium reiciendis, perspiciatis voluptatum ad! Quas!</p>
      </div>

      <div class="doctor">
        <%=image_tag("doctor-sanders.jpg", :alt => "Photo of Doctor Winthrop", :class => "circle")%>
        <h3>Dr. Sanders</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, error perspiciatis, sint rerum, quasi reprehenderit eos recusandae inventore maxime minima repellat voluptatum? Vitae officiis quo, fugit possimus optio dolor alias.</p>
      </div>

      <div class="page" id="testimonials">
        <%=image_tag("doctor-winthrop.jpg", :alt => "Photo of Doctor Winthrop", :class => "circle")%>
        <h2> Testimonials </h2>
        <blockquote id="janeh">
          <div class="quote">
            <span class="intro"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eum dolor obcaecati magni ullam vero mollitia cum debitis quod error id qui, sed fugit optio, temporibus provident quos in incidunt.</span>
            <span class="more">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam molestiae odit exercitationem quas voluptatum impedit voluptate recusandae illo. Quae enim, iusto libero vitae mollitia laboriosam pariatur dolor cumque. Incidunt, consectetur. Lorem ipsum dolor sit amet.</span>
            <span class="customer"> John M. </span>
          </div>
        </blockquote>

        <blockquote id="johnp">
          <div class="quote">
            <span class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque aperiam, reiciendis necessitatibus illum ratione, architecto. Quas ipsa quis doloremque beatae, deserunt ratione delectus, a similique voluptates iure rem eaque nobis.</span>
            <span class="more">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos nesciunt nostrum minus quisquam sunt repellendus quaerat, perferendis.</span>
            <span class="customer"> Bill B.</span>
          </div>
        </blockquote>

        <blockquote>
          <div class="quote">
            <span class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui repellat recusandae vel deserunt debitis laudantium tempora nisi commodi sequi nulla, dolore beatae in nobis delectus, nam, cupiditate quisquam. Delectus, dignissimos.</span>
            <span class="more">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam provident rem, deserunt aliquam, odio omnis suscipit cum sint accusantium impedit saepe.</span>
            <span class="customer">Chloe M.</span>
          </div>
        </blockquote>

      </div>  <!-- Testimonials page  -->
  </div>  <!-- Staff page -->
</div>  <!-- Main Page Div  -->

<footer>
  <div>Call us toll free at <span class="phone"> 888-888-8888</span></div>
  <nav>
    <ul>
      <li><a href="#"> Terms of use</a></li>
      <li><a href="#"> Privacy</a></li>
    </ul>
  </nav>
  <p>All contents & copy; 2014 | All Rights reserved</p>
</footer>


</body>
</html>
